body {
    height: 100vh;
    margin: 0;
    background-color: pink;
}

h1 {
    color: purple;
}

p {
    color: maroon;
    font-size: 20px;
    font-family: monospace;
}

em {
    color: teal;
    font-size: 20px;
}

table, th, td {
    border-collapse: collapse;
    color: mediumorchid;
}

th, td {
    padding: 5px;
    text-align: center;
}

th {
    border: 1px solid crimson;
}

td {
    border: 1px solid darkmagenta;
}

table {
    width: 100%;
    font-size: 20px;
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc {
    color: indigo;
    font-style: italic;
    font-size: 18px;
}

nav {
    height: 10vh;
    background-color: darkmagenta;
    display: flex;
    flex-direction: row;
}

a {
    padding: 10px;
    color: greenyellow;
    text-decoration: none;
}
  
a:hover {
    color: pink;
    background-color: magenta;
}